<div class="row">
  <div class="page-header">
    <a [routerLink]="['/articles/writearticle']">
      <dx-button
        icon="glyphicon glyphicon-pencil"
        text=" Write Article"
        type="default"
        class="btn-primary pull-right">
      </dx-button>
    </a>
    <a [routerLink]="['/articles/drafts']">
      <dx-button
        text="Drafts"
        type="default"
        class="btn-drafts btn-primary pull-right">
      </dx-button>
    </a>
    <h1>Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-10">
      <section class="articles" *ngFor="let articles of articless">
        <app-article-item [articles]="articles"></app-article-item>
      </section>
    </div>
    <div class="col-md-2 popular-tags">
      <h4>Popular Tags</h4>
      <ul>
        <li *ngFor="let tag of tags">
          <a href="{{tag.idTag}}">
            <span class="label label-default">{{tag.tag}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
