.page-header {
  margin: 0;
  h1 {
    margin: 0;
    font-weight: 100;
    font-size: 2em;
  }
  .btn-drafts {
    margin-right: .8em;
  }
}

.articles {
  display: block;
}

.popular-tags {
  h4 {
    margin-top: 2em;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
