<nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">BootcampApp</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav">
            <li><a routerLink="/feed"><span class="glyphicon glyphicon-bell"></span></a></li>
            <li><a routerLink="/feed">Feed</a></li>
            <li><a routerLink="/articles">Articles</a></li>
            <li><a routerLink="/question">Q&A</a></li>
            <li><a routerLink="/network">Network</a></li>
            <li><a routerLink="/inbox">Inbox</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" action="/action_page.php">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> User <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/test_account/">My Profile</a></li>
                <li><a href="/settings/">Account Settings</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
