<div class="cover">
  <div class="logo">
    <h1>Bootcamp App</h1>
  </div>
  <div class="signUp">
    <h2>Sign up for Bootcamp</h2>
    <form name="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>User name:</label>
        <dx-text-box >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Username is required">
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
        <span class="help-block">Usernames may contain
          <strong>alphanumeric</strong>, <strong>_</strong> and <strong>.</strong>
          characters
        </span>
      </div>
      <div class="form-group">
        <label>Email:</label>
        <dx-text-box >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Email is required">
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <dx-text-box >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Password is required">
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="form-group">
        <label>Confirm your password:</label>
        <dx-text-box >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Confirm your password is required">
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="form-group">
        <dx-button
            id="btnCreateCcount"
            text="Create an account"
            type="submit"
            class=" btn-primary btn-lg"
            [useSubmitBehavior]="true">
        </dx-button>
        <dx-button
            id="btnCancel"
            text="Cancel"
            type="submit"
            class="btn-primary btn-lg btn-cancel"
            routerLink="/login">
        </dx-button>
      </div>
    </form>
  </div>
</div>

