<!--<div class="panel panel-default question">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="#">Environment</a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-11" style="padding: 0;">
      <div class="question-user">
        <a href="#">
          <img src="http://trybootcamp.vitorfs.com/static/img/user.png" class="user">
        </a>
        <a class="username">
          User
        </a>
        <span class="asked">Time</span>
      </div>
      <div class="question-description">
        <p>![](https://www.google.com.vn/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjZuMnn2JrfAhUM148KHbtlAPYQjRx6BAgBEAU&url=https%3A%2F%2Fitunes.apple.com%2Fsk%2Fapp%2Fgoogle-translate%2Fid414706506%3Fmt%3D8&psig=AOvVaw0eMCiYFcxufjZ3Kzp1eIVB&ust=15447179...asdasdhbjksnlm;d,.a'/cvbnm,ajsssssssssjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
        </p>
      </div>
      <p>
        <span class="label label-primary">dsf</span>
        <span class="label label-primary">asfasjb</span>
      </p>
    </div>
    <div class="col-md-1" style="padding: 0;">
      <div class="question-info">
        <div class="info">
          <h5>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Votes
          </h5>
          <span>-1</span>
        </div>
        <div class="info">
          <h5>
            <span class="glyphicon glyphicon-comment"></span>
            Answers
          </h5>
          <span>1</span>
        </div>
        <div class="info">
          <h5>
            <span class="glyphicon glyphicon-star"></span>
            Favorites
          </h5>
          <span>0</span>
        </div>
      </div>
    </div>
  </div>
</div>
-->
