<div class="container">
  <ul class="breadcrumb">
    <li>
      <a routerLink="/articles">Articles</a>
    </li>
    <li class="active">Drafts</li>
  </ul>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Comment</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a>Testing</a>
        </td>
        <td>
          <p>sadsf</p>
        </td>
        <td>
          <p>dsf</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
