article {
  padding-bottom: 1.4em;
  border-bottom: 1px solid #eeeeee;
  margin-top: 2.4em;
  .info {
    margin-bottom: .5em;
    color: #a0a0a0;
    > span {
      margin-right: 1em;
    }
    a {
      color: #a0a0a0;
    }
    .user {
      a img {
        width: 20px;
        border-radius: 3px;
      }
    }
  }
  .tags {
    font-size: 1em;
  }
}
